<div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
              <div class="container">
                  <div class="row" style="margin-top: 20px;">
                    <div class="col-md-offset-1">
                        <div class="col-md-11">
                            <h1 class="text-center" style="color: #004467;"><strong>VALIDACIÓN</strong></h1>
                            <div class="col-md-6">
                              <div class="form-group">
                              <label for="exampleInputEmail1">Buscar No. Referencia</label>
                              <input type="text" class="form-control" id="" placeholder="Numero de Referencia">
                            </div>
                            </div>
                            
                            
                            <table class="table table-hover table-striped">
                                <tr style="background-color: #2c3e50; color: white;">
                                    <th>ID Usuario</th>
                                    <th>Plan</th>
                                    <th>Fecha de Inscripción</th>
                                    <th>Status</th>
                                    <th>Recibo</th>
                                    <th>Validar</th>
                                </tr> 
                              <% @payments.each do |p| %>
                                    <tr class="warning">
                                        <td><%= p.user_id %></td>
                                        <td>Plan <%= p.tipo_paquete %></td>
                                        <td><%= p.created_at %></td>
                                        <td>
                                            <% if p.status == false  %>
                                                No validado
                                            <% end %>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default" data-ref="<%= p.avatar.url %>" data-toggle="modal" data-target="#myModal">
                                              Recibo
                                            </button>
                                        </td>
                                        <td>
                                            <%= link_to "Validar Pago.", admin_panel_validar_path(:payment_id => p.id, :tipo_paquete => p.tipo_paquete), data: { confirm: 'Estas seguro de validar este pago? Revisalo muy bien!' } ,:class => "btn btn-default", :style => "margin-bottom: 33px, margin-top: 33px " %>
                                        </td>
                                    </tr>
                              <% end %>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recibo Enviado</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#myModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('ref') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var body = document.querySelector(".modal-body");
    body.innerHTML = `<img class="img-responsive" src="${recipient}">`
  })
</script>