<%= render 'layouts/nav.html.erb' %>
<div style="margin-top: 75px; padding-bottom: 40px;">
<div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <h3 class="text-center">INICIA SESIÓN</h3>
				<div class="social-buttons">
					<a href="#" class="btn btn-fb" style="width: 132px;"><i class="fa fa-facebook"></i> Facebook</a>
			         <a href="#" class="btn btn-tw" style="width: 132px;"><i class="fa fa-twitter"></i> Twitter</a></br>
				</div></br>
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Correo" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                <a href="#" class="forgot-password">
                ¿Olvidaste la contraseña?
                </a>
                <button class="btn btn-hero btn-block" type="submit">Iniciar Sesión</button>
            </form><!-- /form -->
            <div class="bottom text-center">
				¿Eres Nuevo? <%= link_to 'Registrate ahora.', 'session/new' %> 
			</div>
            
        </div><!-- /card-container -->
    </div>
    </div>
    <footer class="footer">
        	<div class="container text-center">
        		<span style="color: white;">FIDEI 2016.  Marca registrada | <%= link_to 'Aviso de Privacidad', '../welcome/privacidad' %>| <%= link_to 'Términos y Condiciones del Servicio', '../welcome/terminos' %> | Todos los derechos reservados.</span>
          	</div>
        
        </footer>

<h2>Log in</h2>

<%= form_for resource, as: resource_name, url: session_path(resource_name), :html => {:id => "inicioUser"} do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :id => 'email' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :id => 'password' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <button onClick="logIn()">Inciar sesion</button>
    
  </div>
<% end %>

<%= render "devise/shared/links" %>
