<%= render 'layouts/navProvisional.html.erb' %>
<div style="margin-top: 125px; padding-bottom: 40px;">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="http://api.adorable.io/avatar/<%= rand(1..100) %>" />
            <p id="profile-name" class="profile-name-card"></p>
            <%= form_for resource, url: session_path(:user), remote: true do |f| %>
                <h3 class="text-center">INICIA SESIÓN</h3>
                <span id="reauth-email" class="reauth-email"></span>
                <!--<input type="email" name="email" id="email" class="form-control" placeholder="Correo" required autofocus>-->
                <%= f.email_field :email, autofocus: true, :id =>"email",:class => "form-control", :style => "margin-bottom: 5px;", :placeholder => "Correo" %>
                <!--<input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>-->
                    <%= f.password_field :password, autocomplete: "off", :id => "password", :class => "form-control", :placeholder => "Contraseña" %>
               
                    <%= f.password_field :password, autocomplete: "off", :id => "password", :class => "form-control" %>
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :recuerdame %>
                  </div>
                <% end -%>
                <%= link_to "¿Olvidaste la contraseña?", new_password_path(resource_name), :class => "forgot-password" %><br />
                <button class="btn btn-hero btn-block" type="submit">Iniciar Sesión</button>
            <% end %>
            <div class="bottom text-center">
				      ¿Eres Nuevo? <%= link_to 'Registrate ahora.', 'sign_up' %> 
			      </div>
            
        </div><!-- /card-container -->
    </div>
    
<script type="text/javascript">
  $(document).ready(function() {
    //form id
    $('#new_user')
    .bind('ajax:success', function(evt, data, status, xhr) {
      var promise = new Promise(
      function (resolve, reject) {
          email = $('#email').val();
          password = $('#password').val();
          sessionEmail(email,password);
          firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
              resolve(user);
            }
          });
      });

      promise.then(
          function (user) { location.reload(); }
      );
    })

    .bind("ajax:error", function(evt, xhr, status, error) {
      //function called on status: 401 or 500 (for ex.)
      console.log(xhr.responseText);
    });
  });
</script>

    <footer class="footer" style="margin-top: 75px;">
        	<div class="container text-center">
        		<span style="color: white;">FIDEI 2016.  Marca registrada | <%= link_to 'Aviso de Privacidad', '../welcome/privacidad' %>| <%= link_to 'Términos y Condiciones del Servicio', '../welcome/terminos' %> | Todos los derechos reservados.</span>
          	</div>
        </footer>

