
<%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= wicked_pdf_javascript_include_tag "applications", media:"all", "data-turbolinks-track" => true %>
<%= wicked_pdf_javascript_include_tag "https://www.gstatic.com/firebasejs/3.9.0/firebase.js" %>


	<script>
		var config = {
			apiKey: "AIzaSyA6OL-zRhqlAwzwCTK_eZ1_Gb4KIPhjA2c",
			authDomain: "fidei-df894.firebaseapp.com",
			databaseURL: "https://fidei-df894.firebaseio.com",
			projectId: "fidei-df894",
			storageBucket: "fidei-df894.appspot.com",
			messagingSenderId: "717833398004"
		};
		firebase.initializeApp(config);
	</script>
	
	
<div class="container" style="margin-top: 75px;">
    <div class="row">
        <div class="col-md-12">
                <div class="FichaPago">
                   <h3>Ficha de Pago</h3>
                   <div class="contenedorFicha">
                       <%= wicked_pdf_image_tag("logofidei.png", :style => "width: 200px; margin: 10px;") %>
                       <div class="row" style="margin-bottom: 25px;">
                           <strong><h4>DATOS DE PAGO</h4></strong>
                           <div class="col-sm-12">
                               <label>BENEFICIARIO: </label> ENPRENMONEY S.A. DE C.V.</br>
                               <label>CUENTA:  </label> 7010 5047515</br>
                               <label>CLABE: </label> 002320701050475154 </br>
                           </div>
                       </div>
                       
                       <div class="row">
                           <div class="col-sm-12 fichita">
                               <h4 class="text-center">NUMERO DE REFERENCIA: <%= @np %></h4>
                           </div>
                       </div>
                       <div style="margin-bottom: 25px; margin-top: 25px;">
                       <div class="row">
                        <div class="col-sm-12">
                            <label>NOMBRE CLIENTE: </label><label class="textoFicha2" id="nombres"></label>
                        </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-12">
                            <label>PLAN: </label>  <label class="textoFicha2"><%= @tipo %> </label>
                        </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-12">
                            <label>FECHA DE GENERACION DE FICHA: </label> <label class="textoFicha2"><%= Date.today %>  </label>
                        </div>
                       </div>
                       </div>
                       <div class="row fichitados">
                        <div class="col-sm-12">
                            <label style="font-size: 16px;">TOTAL A</label> <label>PAGAR:</label> <label style="font-size: 16px;" class="textoFicha2">$ <%= @costo %></label>
                        </div>
                       </div>
                       </br>
                       <hr></br>
                       <label>Realiza tu Pago en:</label><br>
                       <center>
                           <%= wicked_pdf_image_tag("Banamex_Logo.png", :style => "width: 200px; margin: 10px;") %>
                       </center>
                       <br>
                       <label>*Impoortante: Antes de realizar tu deposito o transferencia, verifica que el concepto o giro del deposito sea el Numero de referencia que te otorgamos, cada referencia es única para cada pago.</label>
                       
                   </div>
                </div>
            </div>
    </div>
</div>

<script>
    document.addEventListener('turbolinks:load',function(){
        firebase_data_user();
    });
    
    var firebase_data_user = function firebase_data_user(){
	
	firebase.auth().onAuthStateChanged(function(user) {
		if (user) {
			
	var commentsRef = firebase.database().ref('users/' + user.uid);
	commentsRef.on('value', function(data) {
		showdata(data.val());
		
	});
		}
	});
	
}
var showdata = function(data){
	$("#nombres").html(data.nombre+" ");
}
</script>