
<%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= wicked_pdf_javascript_include_tag "applications", media:"all", "data-turbolinks-track" => true %>
<%= wicked_pdf_javascript_include_tag "https://www.gstatic.com/firebasejs/3.9.0/firebase.js" %>


	<script>
		var config = {
			apiKey: "AIzaSyA6OL-zRhqlAwzwCTK_eZ1_Gb4KIPhjA2c",
			authDomain: "fidei-df894.firebaseapp.com",
			databaseURL: "https://fidei-df894.firebaseio.com",
			projectId: "fidei-df894",
			storageBucket: "fidei-df894.appspot.com",
			messagingSenderId: "717833398004"
		};
		firebase.initializeApp(config);
	</script>
	
	
<div class="container" style="margin-top: 75px;">
    <div class="row">
        <div class="col-md-offset-3">
            <div class="col-md-8">
                <div class="FichaPago">
                   <h3>Ficha de Pago</h3>
                   <div class="contenedorFicha">
                       <%= wicked_pdf_image_tag("logofidei.png", :style => "width: 200px; margin: 10px;") %>
        
                       <div class="row" style="margin-bottom: 25px;">
                           <strong><h4>DATOS DE PAGO</h4></strong>
                           <div class="col-sm-12">
                               <label>Beneficiario: </label> EMPREMONEY S.A. DE C.V.</br>
                               <label>Cuenta: </label> 7010 5047515</br>
                               <label>CLABE: </label> 002320701050475154 </br>
                           </div>
                       </div>
                       
                       <div class="row">
                           <div class="col-sm-6 fichita">
                               <h4 class="text-center">FIDEI</h4>
                           </div>
                           <div class="col-sm-6 fichita">
                               <h4 class="text-center">Numero de Pago: 000001</h4>
                           </div>
                       </div>
                       <div style="margin-bottom: 25px; margin-top: 25px;">
                       <div class="row">
                        <div class="col-sm-6">
                            <label class="textoFicha">Nombre Cliente:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="textoFicha2" id="nombres"></label>
                        </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-6">
                            <label class="textoFicha">Plan:</label>  
                        </div>
                        <div class="col-sm-6">
                            <label class="textoFicha2">4 </label>
                        </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-6">
                            <label class="textoFicha">Fecha de Generación de Ficha:</label>  
                        </div>
                        <div class="col-sm-6">
                            <label class="textoFicha2">13/06/2017  </label>
                        </div>
                       </div>
                       </div>
                       <div class="row fichitados">
                        <div class="col-sm-6">
                            <label style="font-size: 16px;" class="textoFicha">TOTAL A PAGAR:</label>
                        </div>
                        <div class="col-sm-6">
                            <label style="font-size: 16px;" class="textoFicha2">$ 100,000</label>
                        </div>
                       </div>
                       </br>
                       <hr></br>
                       <label>Realiza tu Pago en:</label><br>
                       <center>
                           <%= wicked_pdf_image_tag("Banamex_Logo.png", :style => "width: 200px; margin: 10px;") %>
                           <%= wicked_pdf_image_tag("Oxxo_Logo.png", :style => "width: 150px; margin: 10px;") %>
                         
                       </center>
                       
                       
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('turbolinks:load',function(){
        firebase_data_user();
    }
    
    var firebase_data_user = function firebase_data_user(){
	
	firebase.auth().onAuthStateChanged(function(user) {
		if (user) {
			
	var commentsRef = firebase.database().ref('users/' + user.uid);
	commentsRef.on('value', function(data) {
		showdata(data.val());
		
	});
		}
	});
	
}
</script>