        

        <nav class="navbar navbar-fixed-top" data-turbolinks-permanent>
          <input type="hidden" value="<%= @id %>" id="id_user_to_data"></input>
          <div  style="background-color: #2c3e50 ; padding-bottom: 15px; padding-top: 15px;">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="glyphicon glyphicon-menu-hamburger" style="color: white;"></span>
              </button>
              <a class="navbar-brand" href="..">
                
                <%= image_tag("logo.png", :style => "width: 150px; margin-top: -20px;", :class => "img-responsive") %>
                </a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a class="linksop" href="../../#sEmpresa">Empresa</a></li>
                <li><a class="linksop" href="../../#sOperacion">Forma de Operación</a></li>
                <li><a class="linksop" href="../../#sInfo">Información</a></li>
                <li><a class="linksop" href="../../#sPlan">Planes</a></li>
                <li><a class="linksop" href="../../#sContacto">Contacto</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown">
                  <a class="dropdown-toggle linksop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <% if user_signed_in? %>
                    <span id="nombres"></span><span id="apellidos"></span>
                    <% else %>
                    Inicio de Sesión
                    <% end %>
                    <span class="caret"></span></a>
                  			<ul id="login-dp" class="dropdown-menu" style="background-color: #2c3e50">
                  			  <% if user_signed_in? %>
                  			  <div class="Top text-center">
                  			    <li class="btn" style="padding: 30px;">
                  			     <% if current_user.supervisor_role? %>
                  			     <%= link_to "Mi Panel", admin_panel_index_path, :class => "logStyle", :style => "padding: 10px;" %>
                  			     <% else %>
                  			     <%= link_to "Mi Panel", user_profile_index_path, :class => "logStyle", :style => "padding: 10px;" %>
                  			     <% end %>
                  			    </li>
                  			    <br></br>
                  			    <li>
                  			    <%= link_to 'Cerrar Sesion', destroy_user_session_path, :method => :delete, :class => "logStyle", :style => "padding: 10px;" %>
                  			    </li>
                          <% else %>
                          
                          <li><%= link_to 'Iniciar Sesión', new_user_session_path, :style => "padding: 10px; color: white;" %></li>
                          <li><%= link_to 'Registrarse', new_user_registration_path, :style => "padding: 10px; margin-bottom: 10px; color: white;" %></li>
                        <!--  <li>-->
                          
                        <!--  <div class="row">-->
                  					 <!--  <div class="Top text-center">-->
                  					 <!--    <a href="../users/sign_in" class="logStyle">-->
                  					 <!--     <h4><i class="glyphicon glyphicon-user"></i> INICIO DE SESIÓN</h4>-->
                  					 <!--    </a>-->
                  						<!--	</div>-->
                  						<!--	<div class="col-md-12">-->
                        <!--          </br>-->
                  								 
                  
                  						<!--				<div class="form-group">-->
                  						<!--					 <label class="sr-only" for="exampleInputEmail2">Correo Electrónico</label>-->
                  						<!--					 <input type="email" class="form-control" id="email" placeholder="Email" required>-->
                  						<!--				</div>-->
                  						<!--				<div class="form-group">-->
                  						<!--					 <label class="sr-only" for="exampleInputPassword2">Contraseña</label>-->
                  						<!--					 <input type="password" class="form-control" id="password" placeholder="Contraseña" required>-->
                        <!--                                       <div class="help-block text-right"><a href="">¿Olvidaste tu Contaseña?</a></div>-->
                  						<!--				</div>-->
                  						<!--				<div class="form-group">-->
                  
                  						<!--					 <button onClick="logIn()" class="btn btn-hero btn-block">Inciar Sesion</button>-->
                  
                  											 
                  
                  						<!--				</div>-->
                  						<!--				<div class="checkbox">-->
                  						<!--					 <label>-->
                  						<!--					 <input type="checkbox"> Recordar Contraseña-->
                  						<!--					 </label>-->
                  						<!--				</div>-->
                  								
                  						<!--	</div>-->
                  						<!--	<div class="bottom text-center">-->
                  						<!--		¿Eres Nuevo? <%= link_to 'Registrate ahora.', '../users/sign_up' %>  -->
                  						<!--	</div>-->
                  					 <!--</div>-->
                          
                        <!--  </li>-->
                          <% end %>
                  			</ul>

                  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inicio de Sesión<span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu">
                    <% if user_signed_in? %>
                      <li>
                      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                      </li>
                    <% else %>
                      <li>
                      <%= link_to('Login', new_user_session_path)  %>  
                      </li>
                    <% end %>
                  </ul>-->
                </li>
              </ul>
              </div>
              </div>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
                  
