<div id="wrapper">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div  style="background-color: #273746; padding-bottom: 15px; padding-top: 15px;">
		<div class="container-fluid">
			<div class="navbar-header">
                <div  class="navbar-brand">
                    <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                    </a>
    				<a href="#"><%= image_tag("logo.png", :style => "width: 200px; margin-top: -20px;") %></a>
                </div>
			</div>
		</div>
		</div>
	</nav>
	
	    <!-- Sidebar -->
    <div id="sidebar-wrapper" data-turbolinks-permanent>
        <nav id="spy">
            <div class="profile-sidebar">
				<div class="profile-userpic">
					<%= image_tag("ejecutivo.jpg", :style => "display:block; margin:auto;") %>
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Martín Eduardo </br>
						Villaseñor Merino
					</div>
					<div class="profile-usertitle-job">
						MAEDVIM
					</div>
				</div>

				<div class="profile-userbuttons">
					<button type="button" class="btn btn-danger btn-sm">Cerrar Sesión</button>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
						    <%= link_to " Principal", {controller: "user_profile", action: "index"}, class: "glyphicon glyphicon-home" %>
							<!--<a href="#">-->
							<!--<i class="glyphicon glyphicon-home"></i>-->
							<!--Principal </a>-->
						</li>
						<li>
						    <%= link_to " Ajustes", {controller: "user_profile", action: "ajustes"}, class: "glyphicon glyphicon-user" %>
							<!--<a href="#">-->
							<!--<i class="glyphicon glyphicon-user"></i>-->
							<!--Ajustes</a>-->
						</li>
						<li>
						    <%= link_to " Validacion", {controller: "user_profile", action: "validacion"}, class: "glyphicon glyphicon-ok" %>
							<!--<a href="#" target="_blank">-->
							<!--<i class="glyphicon glyphicon-ok"></i>-->
							<!--Validación </a>-->
						</li>
						<li>
						    <%= link_to " Ayuda", {controller: "user_profile", action: "ayuda"}, class: "glyphicon glyphicon-flag" %>
							<!--<a href="#">-->
							<!--<i class="glyphicon glyphicon-flag"></i>-->
							<!--Ayuda </a>-->
						</li>
					</ul>
				</div>
			</div>
        </nav>
    </div>
    
<script>
  $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
</script>